<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>elk.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/aaa</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>elk.filter.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>elk.filter.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>elk.filter.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLoginServlet</servlet-name>
        <servlet-class>elk.servlet.NewLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewHomepageServlet</servlet-name>
        <servlet-class>elk.servlet.NewHomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProductServlet</servlet-name>
        <servlet-class>elk.servlet.NewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLoginServlet</servlet-name>
        <url-pattern>/NewLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewHomepageServlet</servlet-name>
        <url-pattern>/NewHomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductServlet</servlet-name>
        <url-pattern>/NewProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
